
body{
    background-color: crimson;}
nav{
    font-family: fantasy;
    text-align: center;}
.boxed { border: 2px navy blue;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    }
#images{text-align: center}
#logo{text-align: center}